<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="./src/test/java/testcases/WindowHandle_Test.java">
        <parameter name="browser" value="chrome">
        </parameter>
        <classes>
            <class name="testcases.UI.WindowHandle_Test">
                <methods>
                    <include name="test_handle_multipleWindow"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>